
{% extends 'navigationbar.html' %}
{% load static %}
{% block body %}



<div class="container">
    <h2 class="text-center">Add Appointment</h2>
    <form  method="post" action="#">
        {% csrf_token %}


        <label>Doctor Name</label>
        <select name="doctor" class="form-control">
             {% for i in doctor %}
            <option value="{{i.name}}">{{i.name}} [{{i.id}}]</option>
             {% endfor %}
        </select>
        <br>

        <label>Patient Name</label>
        <select name="patient" class="form-control">
             {% for i in patient %}
            <option value="{{i.name}}">{{i.name}} [{{i.id}}]</option>
             {% endfor %}
        </select>
        <br>



         <label>Date</label>
        <input type="date"   class="form-control"   name="date"  >

  <br>
<!--        <label>Contact</label>-->
<!--        <input type="text"   class="form-control" name="contact">-->

         <label>Time</label>
        <input type="time"   class="form-control"   name="time"  required>

        <input type="submit"  value="Submit" class="form-control btn btn-primary" >



    </form>


</div>


{% ifequal error "no" %}
<script>
     alert('Record saved  sucessfully')
     window.location =('{% url 'view_appointment' %}')

</script>
{% endifequal error "no" %}

{% ifequal error "yes" %}
<script>
     alert('wrong in invallid ,try again ')


</script>
{% endifequal  %}




{% endblock  %}